In [188]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Rados\Desktop\Stats.csv", parse_dates=["Create_Date","Resolve_Date"], index_col="Resolve_Date")
type(df)

pandas.core.frame.DataFrame

In [189]:
#type(pd.to_datetime(df["Create Date"]))
df[df["Rep"]=="Mai"]

                  SDSK  Rep Create_Date    Status
Resolve_Date
2018-01-17     1345344  Mai  2018-01-12  Resolved
2018-01-17     1345345  Mai  2018-01-12  Resolved
2018-01-16    54345324  Mai  2018-01-12  Resolved
2018-01-17     6789668  Mai  2018-01-13  Resolved
2018-01-20     6789669  Mai  2018-01-13  Resolved
2018-01-22     6789680  Mai  2018-01-14  Resolved
2018-01-18     6789681  Mai  2018-01-14  Resolved
2018-01-24     6789692  Mai  2018-01-15  Resolved
2018-01-24     6789693  Mai  2018-01-15  Resolved
2018-01-18     6789704  Mai  2018-01-16  Resolved
2018-01-23     6789705  Mai  2018-01-16  Resolved
2018-01-22     6789716  Mai  2018-01-17  Resolved
2018-01-17     6789717  Mai  2018-01-17  Resolved
2018-01-26     6789728  Mai  2018-01-18  Resolved
2018-01-20     6789729  Mai  2018-01-18  Resolved
2018-01-25     6789740  Mai  2018-01-19  Resolved
2018-01-22     6789741  Mai  2018-01-19  Resolved
2018-01-27     6789752  Mai  2018-01-20  Resolved
2018-01-23     6789753  Mai  2018-01-20  Resolved
2018-02-04     6789764  Mai  2018-02-03  Resolved
2018-02-05     6789765  Mai  2018-02-03  Resolved
2018-02-11     6789776  Mai  2018-02-05  Resolved
2018-02-11     6789777  Mai  2018-02-05  Resolved
2018-02-15     6789788  Mai  2018-02-06  Resolved
2018-02-15     6789789  Mai  2018-02-06  Resolved
2018-02-11     6789794  Mai  2018-02-07  Resolved
2018-02-15     6789795  Mai  2018-02-07  Resolved
2018-02-17     6789806  Mai  2018-02-08  Resolved
2018-02-14     6789807  Mai  2018-02-08  Resolved
2018-04-30     6789818  Mai  2018-04-26  Resolved
2018-05-02     6789819  Mai  2018-04-26  Resolved
2018-04-30     6789830  Mai  2018-04-27  Resolved
2018-05-06     6789831  Mai  2018-04-27  Resolved
2018-05-01     6789837  Mai  2018-04-28  Resolved
2018-04-29     6789838  Mai  2018-04-28  Resolved

In [190]:
#df.set_index("Resolve_Date", inplace=True)

In [191]:
df[df["Rep"] == "Mai"].SDSK.resample("W").count()

Resolve_Date
2018-01-21     9
2018-01-28    10
2018-02-04     1
2018-02-11     4
2018-02-18     5
2018-02-25     0
2018-03-04     0
2018-03-11     0
2018-03-18     0
2018-03-25     0
2018-04-01     0
2018-04-08     0
2018-04-15     0
2018-04-22     0
2018-04-29     1
2018-05-06     5
Freq: W-SUN, Name: SDSK, dtype: int64

In [192]:
N_c = pd.DataFrame(df[df["Rep"] == "Nico"].SDSK.resample("D").count())
N_c.reset_index(inplace=True)
N_c = N_c[N_c["SDSK"] != 0]
N_c.head()

  Resolve_Date  SDSK
0   2018-01-14     2
1   2018-01-15     1
2   2018-01-16     1
3   2018-01-17     4
6   2018-01-20     4

In [193]:
C_c = pd.DataFrame(df[df["Rep"] == "Carlos"].SDSK.resample("D").count())
C_c.reset_index(inplace=True)
C_c = C_c[C_c["SDSK"] != 0]
C_c.head()

  Resolve_Date  SDSK
0   2018-01-13     1
1   2018-01-14     1
2   2018-01-15     1
4   2018-01-17     2
5   2018-01-18     2

In [194]:
M_c = pd.DataFrame(df[df["Rep"] == "Mai"].SDSK.resample("D").count())
M_c.reset_index(inplace=True)
M_c = M_c[M_c["SDSK"] != 0]
M_c.head()

  Resolve_Date  SDSK
0   2018-01-16     1
1   2018-01-17     4
2   2018-01-18     2
4   2018-01-20     2
6   2018-01-22     3

In [195]:
Ma_c = pd.DataFrame(df[df["Rep"] == "Matt"].SDSK.resample("D").count())
Ma_c.reset_index(inplace=True)
Ma_c = Ma_c[Ma_c["SDSK"] != 0]
Ma_c.head()

  Resolve_Date  SDSK
0   2018-01-13     1
2   2018-01-15     1
3   2018-01-16     1
5   2018-01-18     2
6   2018-01-19     1

In [196]:
R_c = pd.DataFrame(df[df["Rep"] == "Raju"].SDSK.resample("D").count())
R_c.reset_index(inplace=True)
R_c = R_c[R_c["SDSK"] != 0]
R_c.head()

  Resolve_Date  SDSK
0   2018-01-16     1
1   2018-01-17     2
4   2018-01-20     1
6   2018-01-22     2
7   2018-01-23     1

In [227]:
Mai = df[df["Rep"] == "Mai"]
#Mai
Matt = df[df["Rep"] == "Matt"]
#Matt
Carlos = df[df["Rep"] == "Carlos"]
#Carlos
Nico = df[df["Rep"] == "Nico"]
Raju = df[df["Rep"] == "Raju"]
new = Mai.append(Matt).append(Carlos).append(Nico).append(Raju)
new_1 = new.SDSK.resample("D").count()
#df[df["Rep"] == "Mai"].SDSK.resample("W").count()
new_2 = new_1.reset_index()
new_2

    Resolve_Date  SDSK
0     2018-01-13     2
1     2018-01-14     3
2     2018-01-15     3
3     2018-01-16     4
4     2018-01-17    12
5     2018-01-18     6
6     2018-01-19     4
7     2018-01-20    14
8     2018-01-21     7
9     2018-01-22    16
10    2018-01-23    10
11    2018-01-24     7
12    2018-01-25     1
13    2018-01-26     8
14    2018-01-27     3
15    2018-01-28     1
16    2018-01-29     1
17    2018-01-30     0
18    2018-01-31     0
19    2018-02-01     0
20    2018-02-02     0
21    2018-02-03     1
22    2018-02-04     1
23    2018-02-05     1
24    2018-02-06     3
25    2018-02-07     2
26    2018-02-08     8
27    2018-02-09     7
28    2018-02-10     5
29    2018-02-11     7
..           ...   ...
84    2018-04-07     0
85    2018-04-08     0
86    2018-04-09     0
87    2018-04-10     0
88    2018-04-11     0
89    2018-04-12     0
90    2018-04-13     0
91    2018-04-14     0
92    2018-04-15     0
93    2018-04-16     0
94    2018-04-17     0
95    2018-04-18     0
96    2018-04-19     0
97    2018-04-20     0
98    2018-04-21     0
99    2018-04-22     0
100   2018-04-23     0
101   2018-04-24     0
102   2018-04-25     0
103   2018-04-26     1
104   2018-04-27     0
105   2018-04-28     3
106   2018-04-29     4
107   2018-04-30     3
108   2018-05-01     3
109   2018-05-02     3
110   2018-05-03     3
111   2018-05-04     2
112   2018-05-05     4
113   2018-05-06     1

[114 rows x 2 columns]

In [198]:
date_rng = pd.date_range(start="01/01/2018", end="15/05/2018")
date_rng

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10',
               ...
               '2018-05-06', '2018-05-07', '2018-05-08', '2018-05-09',
               '2018-05-10', '2018-05-11', '2018-05-12', '2018-05-13',
               '2018-05-14', '2018-05-15'],
              dtype='datetime64[ns]', length=135, freq='D')

In [199]:
import numpy as np

len(np.zeros(len(date_rng)).tolist())

135

In [200]:
import numpy as np
#lst1 = 
frame = pd.DataFrame({"Date" : date_rng, 
                      "Mai": np.zeros(len(date_rng)).tolist(), 
                      "Nico" : np.zeros(len(date_rng)).tolist(), 
                      "Carlos" : np.zeros(len(date_rng)).tolist(), 
                      "Matt" : np.zeros(len(date_rng)).tolist(), 
                      "Raju" : np.zeros(len(date_rng)).tolist()})
frame.head(15)

    Carlos       Date  Mai  Matt  Nico  Raju
0      0.0 2018-01-01  0.0   0.0   0.0   0.0
1      0.0 2018-01-02  0.0   0.0   0.0   0.0
2      0.0 2018-01-03  0.0   0.0   0.0   0.0
3      0.0 2018-01-04  0.0   0.0   0.0   0.0
4      0.0 2018-01-05  0.0   0.0   0.0   0.0
5      0.0 2018-01-06  0.0   0.0   0.0   0.0
6      0.0 2018-01-07  0.0   0.0   0.0   0.0
7      0.0 2018-01-08  0.0   0.0   0.0   0.0
8      0.0 2018-01-09  0.0   0.0   0.0   0.0
9      0.0 2018-01-10  0.0   0.0   0.0   0.0
10     0.0 2018-01-11  0.0   0.0   0.0   0.0
11     0.0 2018-01-12  0.0   0.0   0.0   0.0
12     0.0 2018-01-13  0.0   0.0   0.0   0.0
13     0.0 2018-01-14  0.0   0.0   0.0   0.0
14     0.0 2018-01-15  0.0   0.0   0.0   0.0

In [201]:
pwd

'C:\\Users\\Rados'

In [202]:
frame.loc[frame["Date"] == "2018-01-01","Nico"] = 0
frame

     Carlos       Date  Mai  Matt  Nico  Raju
0       0.0 2018-01-01  0.0   0.0   0.0   0.0
1       0.0 2018-01-02  0.0   0.0   0.0   0.0
2       0.0 2018-01-03  0.0   0.0   0.0   0.0
3       0.0 2018-01-04  0.0   0.0   0.0   0.0
4       0.0 2018-01-05  0.0   0.0   0.0   0.0
5       0.0 2018-01-06  0.0   0.0   0.0   0.0
6       0.0 2018-01-07  0.0   0.0   0.0   0.0
7       0.0 2018-01-08  0.0   0.0   0.0   0.0
8       0.0 2018-01-09  0.0   0.0   0.0   0.0
9       0.0 2018-01-10  0.0   0.0   0.0   0.0
10      0.0 2018-01-11  0.0   0.0   0.0   0.0
11      0.0 2018-01-12  0.0   0.0   0.0   0.0
12      0.0 2018-01-13  0.0   0.0   0.0   0.0
13      0.0 2018-01-14  0.0   0.0   0.0   0.0
14      0.0 2018-01-15  0.0   0.0   0.0   0.0
15      0.0 2018-01-16  0.0   0.0   0.0   0.0
16      0.0 2018-01-17  0.0   0.0   0.0   0.0
17      0.0 2018-01-18  0.0   0.0   0.0   0.0
18      0.0 2018-01-19  0.0   0.0   0.0   0.0
19      0.0 2018-01-20  0.0   0.0   0.0   0.0
20      0.0 2018-01-21  0.0   0.0   0.0   0.0
21      0.0 2018-01-22  0.0   0.0   0.0   0.0
22      0.0 2018-01-23  0.0   0.0   0.0   0.0
23      0.0 2018-01-24  0.0   0.0   0.0   0.0
24      0.0 2018-01-25  0.0   0.0   0.0   0.0
25      0.0 2018-01-26  0.0   0.0   0.0   0.0
26      0.0 2018-01-27  0.0   0.0   0.0   0.0
27      0.0 2018-01-28  0.0   0.0   0.0   0.0
28      0.0 2018-01-29  0.0   0.0   0.0   0.0
29      0.0 2018-01-30  0.0   0.0   0.0   0.0
..      ...        ...  ...   ...   ...   ...
105     0.0 2018-04-16  0.0   0.0   0.0   0.0
106     0.0 2018-04-17  0.0   0.0   0.0   0.0
107     0.0 2018-04-18  0.0   0.0   0.0   0.0
108     0.0 2018-04-19  0.0   0.0   0.0   0.0
109     0.0 2018-04-20  0.0   0.0   0.0   0.0
110     0.0 2018-04-21  0.0   0.0   0.0   0.0
111     0.0 2018-04-22  0.0   0.0   0.0   0.0
112     0.0 2018-04-23  0.0   0.0   0.0   0.0
113     0.0 2018-04-24  0.0   0.0   0.0   0.0
114     0.0 2018-04-25  0.0   0.0   0.0   0.0
115     0.0 2018-04-26  0.0   0.0   0.0   0.0
116     0.0 2018-04-27  0.0   0.0   0.0   0.0
117     0.0 2018-04-28  0.0   0.0   0.0   0.0
118     0.0 2018-04-29  0.0   0.0   0.0   0.0
119     0.0 2018-04-30  0.0   0.0   0.0   0.0
120     0.0 2018-05-01  0.0   0.0   0.0   0.0
121     0.0 2018-05-02  0.0   0.0   0.0   0.0
122     0.0 2018-05-03  0.0   0.0   0.0   0.0
123     0.0 2018-05-04  0.0   0.0   0.0   0.0
124     0.0 2018-05-05  0.0   0.0   0.0   0.0
125     0.0 2018-05-06  0.0   0.0   0.0   0.0
126     0.0 2018-05-07  0.0   0.0   0.0   0.0
127     0.0 2018-05-08  0.0   0.0   0.0   0.0
128     0.0 2018-05-09  0.0   0.0   0.0   0.0
129     0.0 2018-05-10  0.0   0.0   0.0   0.0
130     0.0 2018-05-11  0.0   0.0   0.0   0.0
131     0.0 2018-05-12  0.0   0.0   0.0   0.0
132     0.0 2018-05-13  0.0   0.0   0.0   0.0
133     0.0 2018-05-14  0.0   0.0   0.0   0.0
134     0.0 2018-05-15  0.0   0.0   0.0   0.0

[135 rows x 6 columns]

In [203]:
len(N_c["Resolve_Date"])

25

In [204]:
len(frame["Date"])

135

In [205]:
frame.index[2:5]

RangeIndex(start=2, stop=5, step=1)

In [206]:
# for i in zip(N_c["Resolve_Date"]):
#     if i == j for j in zip(frame["Date"])
# for i,j in zip(frame["Date"], N_c["Resolve_Date"]):
#      print(i,j)
#list_t = []
#for i in frame["Date"]:
for j in N_c["Resolve_Date"]:
    frame.loc[frame["Date"] == j,"Nico"] = 1
           #list_t.append(frame.index)

for i in M_c["Resolve_Date"]:
    frame.loc[frame["Date"] == i,"Mai"] = 1
    
for k in C_c["Resolve_Date"]:
    frame.loc[frame["Date"] == k,"Carlos"] = 1
    
for l in Ma_c["Resolve_Date"]:
    frame.loc[frame["Date"] == l,"Matt"] = 1
    
for m in R_c["Resolve_Date"]:
    frame.loc[frame["Date"] == m,"Raju"] = 1
#len(list_t)
#frame.reset_index(inplace=True)
#frame.set_index("Date",inplace=True)
#frame = frame.Raju.resample("W").count()
frame
#else:
#    return "N"

     Carlos       Date  Mai  Matt  Nico  Raju
0       0.0 2018-01-01  0.0   0.0   0.0   0.0
1       0.0 2018-01-02  0.0   0.0   0.0   0.0
2       0.0 2018-01-03  0.0   0.0   0.0   0.0
3       0.0 2018-01-04  0.0   0.0   0.0   0.0
4       0.0 2018-01-05  0.0   0.0   0.0   0.0
5       0.0 2018-01-06  0.0   0.0   0.0   0.0
6       0.0 2018-01-07  0.0   0.0   0.0   0.0
7       0.0 2018-01-08  0.0   0.0   0.0   0.0
8       0.0 2018-01-09  0.0   0.0   0.0   0.0
9       0.0 2018-01-10  0.0   0.0   0.0   0.0
10      0.0 2018-01-11  0.0   0.0   0.0   0.0
11      0.0 2018-01-12  0.0   0.0   0.0   0.0
12      1.0 2018-01-13  0.0   1.0   0.0   0.0
13      1.0 2018-01-14  0.0   0.0   1.0   0.0
14      1.0 2018-01-15  0.0   1.0   1.0   0.0
15      0.0 2018-01-16  1.0   1.0   1.0   1.0
16      1.0 2018-01-17  1.0   0.0   1.0   1.0
17      1.0 2018-01-18  1.0   1.0   0.0   0.0
18      1.0 2018-01-19  0.0   1.0   0.0   0.0
19      1.0 2018-01-20  1.0   1.0   1.0   1.0
20      1.0 2018-01-21  0.0   1.0   1.0   0.0
21      1.0 2018-01-22  1.0   1.0   1.0   1.0
22      1.0 2018-01-23  1.0   0.0   1.0   1.0
23      0.0 2018-01-24  1.0   1.0   1.0   0.0
24      0.0 2018-01-25  1.0   0.0   0.0   0.0
25      1.0 2018-01-26  1.0   1.0   1.0   1.0
26      0.0 2018-01-27  1.0   1.0   1.0   0.0
27      1.0 2018-01-28  0.0   0.0   0.0   0.0
28      0.0 2018-01-29  0.0   1.0   0.0   0.0
29      0.0 2018-01-30  0.0   0.0   0.0   0.0
..      ...        ...  ...   ...   ...   ...
105     0.0 2018-04-16  0.0   0.0   0.0   0.0
106     0.0 2018-04-17  0.0   0.0   0.0   0.0
107     0.0 2018-04-18  0.0   0.0   0.0   0.0
108     0.0 2018-04-19  0.0   0.0   0.0   0.0
109     0.0 2018-04-20  0.0   0.0   0.0   0.0
110     0.0 2018-04-21  0.0   0.0   0.0   0.0
111     0.0 2018-04-22  0.0   0.0   0.0   0.0
112     0.0 2018-04-23  0.0   0.0   0.0   0.0
113     0.0 2018-04-24  0.0   0.0   0.0   0.0
114     0.0 2018-04-25  0.0   0.0   0.0   0.0
115     0.0 2018-04-26  0.0   1.0   0.0   0.0
116     0.0 2018-04-27  0.0   0.0   0.0   0.0
117     0.0 2018-04-28  0.0   1.0   1.0   0.0
118     0.0 2018-04-29  1.0   0.0   1.0   1.0
119     0.0 2018-04-30  1.0   0.0   0.0   1.0
120     1.0 2018-05-01  1.0   0.0   1.0   0.0
121     0.0 2018-05-02  1.0   1.0   0.0   0.0
122     1.0 2018-05-03  0.0   0.0   1.0   0.0
123     1.0 2018-05-04  0.0   0.0   0.0   1.0
124     1.0 2018-05-05  0.0   1.0   0.0   0.0
125     0.0 2018-05-06  1.0   0.0   0.0   0.0
126     0.0 2018-05-07  0.0   0.0   0.0   0.0
127     0.0 2018-05-08  0.0   0.0   0.0   0.0
128     0.0 2018-05-09  0.0   0.0   0.0   0.0
129     0.0 2018-05-10  0.0   0.0   0.0   0.0
130     0.0 2018-05-11  0.0   0.0   0.0   0.0
131     0.0 2018-05-12  0.0   0.0   0.0   0.0
132     0.0 2018-05-13  0.0   0.0   0.0   0.0
133     0.0 2018-05-14  0.0   0.0   0.0   0.0
134     0.0 2018-05-15  0.0   0.0   0.0   0.0

[135 rows x 6 columns]

In [229]:
new_2

    Resolve_Date  SDSK
0     2018-01-13     2
1     2018-01-14     3
2     2018-01-15     3
3     2018-01-16     4
4     2018-01-17    12
5     2018-01-18     6
6     2018-01-19     4
7     2018-01-20    14
8     2018-01-21     7
9     2018-01-22    16
10    2018-01-23    10
11    2018-01-24     7
12    2018-01-25     1
13    2018-01-26     8
14    2018-01-27     3
15    2018-01-28     1
16    2018-01-29     1
17    2018-01-30     0
18    2018-01-31     0
19    2018-02-01     0
20    2018-02-02     0
21    2018-02-03     1
22    2018-02-04     1
23    2018-02-05     1
24    2018-02-06     3
25    2018-02-07     2
26    2018-02-08     8
27    2018-02-09     7
28    2018-02-10     5
29    2018-02-11     7
..           ...   ...
84    2018-04-07     0
85    2018-04-08     0
86    2018-04-09     0
87    2018-04-10     0
88    2018-04-11     0
89    2018-04-12     0
90    2018-04-13     0
91    2018-04-14     0
92    2018-04-15     0
93    2018-04-16     0
94    2018-04-17     0
95    2018-04-18     0
96    2018-04-19     0
97    2018-04-20     0
98    2018-04-21     0
99    2018-04-22     0
100   2018-04-23     0
101   2018-04-24     0
102   2018-04-25     0
103   2018-04-26     1
104   2018-04-27     0
105   2018-04-28     3
106   2018-04-29     4
107   2018-04-30     3
108   2018-05-01     3
109   2018-05-02     3
110   2018-05-03     3
111   2018-05-04     2
112   2018-05-05     4
113   2018-05-06     1

[114 rows x 2 columns]

In [228]:
frame["Total_avail"] = [i + j + k + l + m for i,j,k,l,m in zip(frame["Carlos"], 
                                                              frame["Mai"], 
                                                              frame["Matt"], 
                                                              frame["Nico"], 
                                                              frame["Raju"])]
frame.loc[:,"Total_Tickets"] = np.zeros(len(frame["Mai"]))

for r,p in zip(new_2["Resolve_Date"], new_2["SDSK"]):
    frame.loc[frame["Date"] == r,"Total_Tickets"] = p
           #list_t.append(frame.index)
        
frame

     Carlos       Date  Mai  Matt  Nico  Raju  Total_avail  Total_Tickets
0       0.0 2018-01-01  0.0   0.0   0.0   0.0          0.0            0.0
1       0.0 2018-01-02  0.0   0.0   0.0   0.0          0.0            0.0
2       0.0 2018-01-03  0.0   0.0   0.0   0.0          0.0            0.0
3       0.0 2018-01-04  0.0   0.0   0.0   0.0          0.0            0.0
4       0.0 2018-01-05  0.0   0.0   0.0   0.0          0.0            0.0
5       0.0 2018-01-06  0.0   0.0   0.0   0.0          0.0            0.0
6       0.0 2018-01-07  0.0   0.0   0.0   0.0          0.0            0.0
7       0.0 2018-01-08  0.0   0.0   0.0   0.0          0.0            0.0
8       0.0 2018-01-09  0.0   0.0   0.0   0.0          0.0            0.0
9       0.0 2018-01-10  0.0   0.0   0.0   0.0          0.0            0.0
10      0.0 2018-01-11  0.0   0.0   0.0   0.0          0.0            0.0
11      0.0 2018-01-12  0.0   0.0   0.0   0.0          0.0            0.0
12      1.0 2018-01-13  0.0   1.0   0.0   0.0          2.0            2.0
13      1.0 2018-01-14  0.0   0.0   1.0   0.0          2.0            3.0
14      1.0 2018-01-15  0.0   1.0   1.0   0.0          3.0            3.0
15      0.0 2018-01-16  1.0   1.0   1.0   1.0          4.0            4.0
16      1.0 2018-01-17  1.0   0.0   1.0   1.0          4.0           12.0
17      1.0 2018-01-18  1.0   1.0   0.0   0.0          3.0            6.0
18      1.0 2018-01-19  0.0   1.0   0.0   0.0          2.0            4.0
19      1.0 2018-01-20  1.0   1.0   1.0   1.0          5.0           14.0
20      1.0 2018-01-21  0.0   1.0   1.0   0.0          3.0            7.0
21      1.0 2018-01-22  1.0   1.0   1.0   1.0          5.0           16.0
22      1.0 2018-01-23  1.0   0.0   1.0   1.0          4.0           10.0
23      0.0 2018-01-24  1.0   1.0   1.0   0.0          3.0            7.0
24      0.0 2018-01-25  1.0   0.0   0.0   0.0          1.0            1.0
25      1.0 2018-01-26  1.0   1.0   1.0   1.0          5.0            8.0
26      0.0 2018-01-27  1.0   1.0   1.0   0.0          3.0            3.0
27      1.0 2018-01-28  0.0   0.0   0.0   0.0          1.0            1.0
28      0.0 2018-01-29  0.0   1.0   0.0   0.0          1.0            1.0
29      0.0 2018-01-30  0.0   0.0   0.0   0.0          0.0            0.0
..      ...        ...  ...   ...   ...   ...          ...            ...
105     0.0 2018-04-16  0.0   0.0   0.0   0.0          0.0            0.0
106     0.0 2018-04-17  0.0   0.0   0.0   0.0          0.0            0.0
107     0.0 2018-04-18  0.0   0.0   0.0   0.0          0.0            0.0
108     0.0 2018-04-19  0.0   0.0   0.0   0.0          0.0            0.0
109     0.0 2018-04-20  0.0   0.0   0.0   0.0          0.0            0.0
110     0.0 2018-04-21  0.0   0.0   0.0   0.0          0.0            0.0
111     0.0 2018-04-22  0.0   0.0   0.0   0.0          0.0            0.0
112     0.0 2018-04-23  0.0   0.0   0.0   0.0          0.0            0.0
113     0.0 2018-04-24  0.0   0.0   0.0   0.0          0.0            0.0
114     0.0 2018-04-25  0.0   0.0   0.0   0.0          0.0            0.0
115     0.0 2018-04-26  0.0   1.0   0.0   0.0          1.0            1.0
116     0.0 2018-04-27  0.0   0.0   0.0   0.0          0.0            0.0
117     0.0 2018-04-28  0.0   1.0   1.0   0.0          2.0            3.0
118     0.0 2018-04-29  1.0   0.0   1.0   1.0          3.0            4.0
119     0.0 2018-04-30  1.0   0.0   0.0   1.0          2.0            3.0
120     1.0 2018-05-01  1.0   0.0   1.0   0.0          3.0            3.0
121     0.0 2018-05-02  1.0   1.0   0.0   0.0          2.0            3.0
122     1.0 2018-05-03  0.0   0.0   1.0   0.0          2.0            3.0
123     1.0 2018-05-04  0.0   0.0   0.0   1.0          2.0            2.0
124     1.0 2018-05-05  0.0   1.0   0.0   0.0          2.0            4.0
125     0.0 2018-05-06  1.0   0.0   0.0   0.0          1.0            1.0
126     0.0 2018-05-07  0.0   0.0   0.0   0.0          0.0            0.0
127     0.0 2018-05-08  0.0   0.0   0.0   0.0          0.0            0.0
128     0.0 2018-05-09  0.0   0.0   0.0   0.0          0.0            0.0
129     0.0 2018-05-10  0.0   0.0   0.0   0.0          0.0            0.0
130     0.0 2018-05-11  0.0   0.0   0.0   0.0          0.0            0.0
131     0.0 2018-05-12  0.0   0.0   0.0   0.0          0.0            0.0
132     0.0 2018-05-13  0.0   0.0   0.0   0.0          0.0            0.0
133     0.0 2018-05-14  0.0   0.0   0.0   0.0          0.0            0.0
134     0.0 2018-05-15  0.0   0.0   0.0   0.0          0.0            0.0

[135 rows x 8 columns]